{

 "log": {
  "level": "info"
 },

 "database": {
  "driver": "mysql",
  "host": "localhost",
  "port": 3306,
  "user": "%%%USER%%%",
  "passwd": "%%%USER%%%",
  "testDb": "%%%USER%%%_test"
 },

 "dir": {
  "work": "%%%HOME%%%/integra/workDir",
  "proc": "%%%HOME%%%/integra/workDir/proc",
  "archive": "%%%HOME%%%/integra/workDir/archive",
  "dblog": "%%%HOME%%%/integra/workDir/dblog",
  "harvest": "%%%HOME%%%/integra/workDir/harvest"
 }

}
